[Desktop Entry]
Version=1.0
Type=Application

Name=Pulse Browser 
Comment=The browser with features to meet your need
Categories=Network;WebBrowser;

Icon=com.fushra.browser.alpha
Exec=pulse-browser
Terminal=false
